.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  margin: 0 auto;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-container {
  margin: 0 auto;
  /* display: inline-block; */
}

.game-row {
  margin: 0 auto !important;
  padding: 0 !important;
  text-align: center;
  display: flex;
  width: 90vw !important;
}

.game-tile {
  font-size: calc(30px + 2vmin);
  font-weight: bolder;
  width: 15vw !important;
  height: 15vw !important;
  max-width: 100px !important;
  max-height: 100px !important;
  margin: 1vw;
  padding: 0px !important;
  background-color: rgb(229,229,230);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.message {
  color: white;
}

.text-field {
  max-width: 300px !important;
}
